---
import Image from "../../../../node_modules/astro/components/Image.astro";
import BlogNav from "../../../components/layouts/blog/BlogNav.astro";
import article from '../../../assets/logos/article.png';
import MainPageLayout from "../../../layouts/MainPageLayout.astro";
const author = "Annya Nir";
const pageTitle = "Education Blogs";
const pageDescription = "This page contains blogs from Ninaa."
---

<MainPageLayout author={author} pageTitle={pageTitle} pageDescription={pageDescription}>
  <BlogNav/>  
  <section class="articleList">
    <h2 class="subArticleHead">
      Learning Tips
    </h2>
    <article class="subArticle">
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
    </article>  <article class="subArticle">
  </section>
  <section class="articleList">
    <h2 class="subArticleHead">
      Fast Learning
    </h2>
    <article class="subArticle">
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
    </article>  <article class="subArticle">
  </section>
  <section class="articleList">
    <h2 class="subArticleHead">
      Online Learning
    </h2>
    <article class="subArticle">
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
    </article>  <article class="subArticle">
  </section>
  <section class="articleList">
    <h2 class="subArticleHead">
      Learning Curve
    </h2>
    <article class="subArticle">
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}/>
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
      <a href="#" class="articleCard">
        <h3>Think the best way of learning</h3>
        <Image src={article} alt="Article Image" class="imageCenter"  height={100}  />
        <p>The best way of learning is considered the best way of thinking with human nature.</p>
      </a>
    </article>  <article class="subArticle">
  </section>
</MainPageLayout>


<style>
  .articleList{
    margin: 10px 20px;
    padding: 10px 0px;
    background-color: #48078a;
    border-radius: 50px;
    /*  */
    width:80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 
    Beautiful Color 
    background-color: #821ee7; */
    background-image: url(https://trulrn.com/_astro/snow.ec078f79.svg);
  }
  .subArticleHead{
    text-align: center;
    color: white;
  }
  .subArticle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .articleCard{
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    background-color: #bcf7c6cc;
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80);
    background-size: cover;
    display: block;
    max-width: 340px;
    box-shadow: 0px 0px 20px 0px rgb(16, 90, 16);
  }
 .imageCenter{
  display: block;
  margin: auto;
 }
</style>
