---
import BlogNav from "../components/layouts/blog/BlogNav.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
    author={frontmatter.author}
    pageTitle={frontmatter.pageTitle}
    pageDescription={frontmatter.pageDescription}
>
<BlogNav/>
    <main>
        <h1>{frontmatter.pageTitle}</h1>
        <p>Written by {frontmatter.author}</p>
        <article>
            <slot />
        </article>
        <section></section>
        <aside></aside>
    </main>
</BaseLayout>
